.header-design {

  /* height: 5em; */
  background-color: #0080AE ;


}

.logoImg {
  margin: 1em;

  height: 9em;
  width: 9em;
  transition: 0.5s;
}

.logoImg:hover {
  cursor: pointer;
  transition: 0.5s;
  height: 10em;
  width: 10em;
 }