.input-design-big{
    height: 10em;
    width: 30em;
}
.input-design{
  
    width: 30em;
    border: 0.2em solid black;
    border-radius: 0.5em;
    margin: 1em;
    
}
.input-designError {
    border: 0.2em solid red;
  }

.input-design:focus {
  
  
    outline: none;
    
  
    }